# MDR 17/11/2011 - to untrack ignored files so they don't show up as modified if they were added before:
# git rm --cached <file>

# MDR 24/06/2014 - Comment these out if you need to track certain DLLs
*/bin/*
*.dll
*.pdb


*.suo
*.csproj.user
# .gitignore.bak
*.bak
*/obj/*
*.exe
*.application
*.exe.manifest
*.vshost.application
*.~vsd

AssemblyHash.xml

#!Release/*.exe
#!Release/*.dll
#!Release/*.pdb

*out*.txt
*.*.*.dvs

modmarker

MpDataManager

XPTable/XPTable.xml

MpAuditTest/bin/Debug/*.pdf
MpAuditTest/bin/Debug/*.bmp
*/bak/*
Schema/cs/*
#*/*/*/*/*/SchemaClasses/*
backup


# MDR 17/11/2011 - Rather than having to ignore all of these, binaries should run in customer specific folders
MpEdiMajorSimulator/bin/Debug/data
MpEdiMajorSimulator/bin/Debug/mailboxes
MpEdiMajorSimulator/bin/Debug/test

MpScanPack/bin/Debug/_install
MpScanPack/bin/Debug/Backup
MpScanPack/bin/Debug/*.ct
MpScanPack/bin/Debug/*.ds
MpScanPack/bin/Debug/*.log
MpScanPack/bin/Debug/*.prn
MpScanPack/bin/Debug/*.sdf

deadlock*.dev

# MDR 17/11/2011 - Test data folders aren't ignored, should be moved to cust specific folder
mpwfsvce.mpa
InstallUtil.InstallLog
mpwfsvce.InstallLog
mpwfsvce.InstallState
mpwfsvce_*.txt


mpwfsvce___/
Replication/
testdata/

extlib/


## 3rd party projects
Blitztools
!Libraries/*.dll
!Libraries/*.pdb
!Libraries_*/*.dll
!Libraries_*/*.pdb
!./*/*/*/RemoteSales.Core.dll
!./*/*/*/RemoteSales.Core.pdb
!./*/*/*/RemoteSales.Models.dll
!./*/*/*/RemoteSales.Models.pdb
*.not_closed
!.nuget/*
RemoteSales.ProxyGenerators/ProjectCodeGen1.Debug.txt
RemoteSales.ProxyGenerators/HubProxies.Debug.txt
RemoteSales.ProxyGenerators/MultiInterfaceHub.Debug.txt
RemoteSales.ProxyGenerators/MultiInterfaceConnectionStateHub.Debug.txt
RemoteSales.ProxyGenerators/PartneredHubInterface.Debug.txt
RemoteSales.ProxyGenerators/PartneredHubProxies.Debug.txt


RemoteSales.Models/*.log